.chat-message {
  padding: 3px 20px 20px;
  height: 450px;
  overflow: auto;
}

.chat {
  list-style: none;
  margin: 0;

  li {
    margin: 15px 0;

    .chat-img {
      padding: 5px;
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }
    }


    .chat-body {
      position: relative;
      font-size: 11px;
      padding: 10px;
      border: 1px solid #f1f5fc;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

      &.left {
        margin-left: 70px;
        background-color: #fff;

        &:before {
          position: absolute;
          top: 10px;
          left: -8px;
          display: inline-block;
          background: #fff;
          width: 16px;
          height: 16px;
          border-top: 1px solid #f1f5fc;
          border-left: 1px solid #f1f5fc;
          content: '';
          transform: rotate(-45deg);
        }
      }

      &.right {
        margin-right: 70px;
        background-color: #fff;

        &:before {
          position: absolute;
          top: 10px;
          right: -8px;
          display: inline-block;
          background: #fff;
          width: 16px;
          height: 16px;
          border-top: 1px solid #f1f5fc;
          border-right: 1px solid #f1f5fc;
          content: '';
          transform: rotate(45deg);
        }
      }

      .header {
        padding-bottom: 5px;
        border-bottom: 1px solid #f1f5fc;
      }

      p {
        margin: 0;
      }
    }
  }
}

.chat-box {
  padding: 15px;
  border-top: 1px solid #eee;
  transition: all 0.5s ease;
  .input-group {
    display: flex;
    gap: 10px;
  }
}
