.bg-white {
  background-color: #fff;
}

.user-wrap {
  display: flex;
    align-items: center;
    gap: 15px;
  .user-profile-img {
    width: 45px;
    height: 45px;
    border-radius: 30px;
  }

}

.friend-list {
  list-style: none;
  margin-left: -40px;
  height: 500px;
  overflow: auto;

  li {
    border-bottom: 1px solid #eee;
    cursor: pointer;

    a {
      position: relative;
      display: block;
      padding: 10px;
      transition: all 0.2s ease;

      img {
        float: left;
        width: 45px;
        height: 45px;
        margin-right: 10px;
        border-radius: 30px;
      }

      &.active {
        background-color: #f1f5fc;
      }

      .friend-name,
      &:hover .friend-name {
        color: #777;
      }

      .last-message {
        width: 65%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .time {
        position: absolute;
        top: 10px;
        right: 8px;
      }

      .chat-alert {
        position: absolute;
        right: 8px;
        top: 27px;
        font-size: 10px;
        padding: 3px 5px;
      }
    }
  }
}

small, .small {
  font-size: 85%;
}

.primary-font {
  color: #3c8dbc;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  outline: 0;
}

.form-control {
  resize: none;
}
